html
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie-edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title tempura
        link(href="./css/app.css" rel="stylesheet")
    body
        h1.title Welcome to Tempura🍤
        h2
            a(href="") GitHub
        script(src="./js/app.js")